@tailwind base;



 body{
    background:

    url(../assets/images/bg-nebulosa-morada-2.svg)  ,
    url(../assets/images/bg-nebulosa-morada-1.svg)  ,
    url(../assets/images/bg-nebulosa-cian-1.svg)  , 
    url(../assets/images/bg-starts.svg),
    linear-gradient(180deg, rgba(2,0,36,1) 32%, rgba(9,9,121,1) 71%, rgba(0,212,255,1) 100%);
    background-position: right top,left bottom,top;
    background-size: 40%, 40%, 60%, auto, 100%;
    background-repeat: no-repeat;
   
}

 .rounded-6xl{
    border-radius: 3rem; /* 24px */
 }
 @tailwind components;
 @tailwind utilities;